{
  "tg_bot_token": "",
  "tg_bot_id": 111111111,
  "api_key": 1111111,
  "api_hash": "",
  "tg_bot_admins": [],
  "tg_channel": "@tg_channel",
  "local_storage_path": "/var/www/enes.ninja/public_html",
  "web_storage": "https://enes.ninja"
 }
