{
  "tg_bot_token": "",
  "tg_bot_id": 111111111,
  "api_key": 1111111,
  "api_hash": "",
  "tg_bot_admins": [],
  "tg_channel": "@tg_channel",
  "sf_project": "",
  "sf_user": "",
  "sf_pass": "",
  "sf_key": "/home/user/.ssh/private_key"
 }
